{{# partial "titulo" }}
    <title>Atributos de {{empresa.nombre}}</title>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#tablaAtributos').DataTable();
        } );
    </script>
{{/partial}}

{{# partial "contenido" }}
    <div class="row">
        <div class="titulo-tabla">
            <h2>Atributos de {{empresa.nombre}}</h2>
        </div>
    </div>
  <div class="col-md-12">
    <table id="tablaAtributos" class="display" cellspacing="0" width="100%" >
        <thead>
        <tr>
            <th class="col-md-7">Atributo</th>
            <th class="col-md-5">Valor</th>
        </tr>
        </thead>
        <tbody>
        {{#cuentas}}
            <tr>
                <td class="col-md-7">{{nombre}}</td>
                <td class="col-md-5">{{valor}}</td>
            </tr>
        {{/cuentas}}
        {{#indicadores}}
            <tr>
                <td class="col-md-7">{{nombre}}</td>
                <td class="col-md-5">{{valorString}}</td>
            </tr>
        {{/indicadores}}

        </tbody>
    </table>
  </div>
{{/partial}}

{{# partial "scriptFinal"}}
    <script type="text/javascript">
        $('#tablaAtributos')
                .removeClass( 'display' )
                .addClass('table table-striped table-bordered');
    </script>
{{/partial}}

{{> layout.hbs }}