{{# partial "titulo" }}
    <title>Cuentas de {{empresa.nombre}}</title>
{{/partial}}

{{# partial "contenido" }}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" >
                <th class="col-md-8">Cuentas</th>
                <th class="col-md-4">Valor</th>
                {{#cuentas}}
                <tr>
                    <td class="col-md-8">{{nombre}}</td>
                    <td class="col-md-4">{{valor}}</td>
                </tr>
                {{/cuentas}}
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" >
                <th class="col-md-8">Indicadores</th>
                <th class="col-md-4">Valor</th>
                {{#indicadores}}
                <tr>
                    <td class="col-md-8">{{nombre}}</td>
                    <td class="col-md-4">{{valorString}}</td>
                </tr>
                {{/indicadores}}
            </table>
        </div>
    </div>
{{/partial}}

{{> layout.hbs }}